<h1>Deleting Book</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<p>Are you sure you want to delete this book?</p>
<%= link_to 'Yes', @book, method: :delete %>
<%= link_to 'No', books_path %>
